<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetRoughController</servlet-name>
  	<display-name>GetRoughController</display-name>
  	<description></description>
  	<servlet-class>com.prabha.web.GetRoughController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetRoughController</servlet-name>
  	<url-pattern>/getRough</url-pattern>
  </servlet-mapping>
</web-app>
